.profile-form {
    max-width: 700px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    background: var(--primary-background-color);
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 30px;
    input, textarea{
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;  
      margin:0.5rem 0;  
    }
    button{
      align-self:flex-start;
      border:1px solid var(--button-border-color);
      &:disabled{
        background-color: var(--button-hover-background-color);
        color: var(--button-hover-text-color);
        cursor: not-allowed;
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      font-size: 16px;
    }
  
    /* File input styling */
    input[type="file"] {
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  
    /* Focus effect on inputs */
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    textarea:focus {
      border-color: var(--border-color);
      outline: none;
    }
  
    /* Textarea styling */
    textarea {
      min-height: 150px;
      resize: vertical;
    }
    .error {
      color: var(--error-color);
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
    }
  
    .success {
      color: var(--success-color);
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
    }
  
  }
  @media screen and (max-width: var(--mobile)){ 
    .profile-form{
      padding: 20px;
    }
  }